.album-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  cursor: pointer;
  margin: 8px;

  &:hover .album-card-cover {
    filter: brightness(0.7);
  }
}

.album-card-cover {
  width: 100%;
  border-radius: 4px;
  transition: filter 0.3s ease;
}

.album-card-image {
  max-width: 100%;
  height: auto;
}

.album-card-title,
.album-card-artist {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-inline: 4px;
}

.album-card-title {
  margin-block: 8px;
  max-width: 90%;
  font-weight: 600;
}

.album-card-artist {
  max-width: 80%;
  margin-block: 4px;
}

.album-page-container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.album-page-cover-container {
  width: 100%;
  max-width: 640px;
}

.album-page-cover {
  width: 100%;
  height: auto;
  border-radius: 4px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 5);
}

.album-page-text-container {
  width: 100%;
  max-width: 640px;
  text-align: left;
}

.album-grid-container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: left;
  max-width: 1280px;
}

.album-item {
  flex: 1 1 calc(33.333% - 16px);
  max-width: calc(33.333% - 16px);
  box-sizing: border-box;
}


@media (max-width: 1024px) {
  .album-item {
    flex: 1 1 calc(50% - 16px);
    max-width: calc(50% - 16px);
  }
}

@media (max-width: 768px) {
  .album-item {
    flex: 1 1 calc(100% - 16px);
    max-width: calc(100% - 16px);
  }
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin-top: 8px;
  height: 48px;
  background: linear-gradient(0deg, #080808 0.25%, #020202 48.41%, #2B2B2B 50.37%, #C9C9C9 92.63%, #D7D7D7 95.58%, #A6A6A6 96.57%, #4F4F4F 97.55%);
  & > * {
    color: white;
  }
}

.carousel-container {
  backdrop-filter: blur(1px);
  background-color: rgba(121, 221, 209, 0.5);
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 1),
              0 0 3px rgba(0, 0, 0, 5);
  border-radius: 4px;
  border-radius: 4px;
  margin-block: 8px;
  margin-bottom: 32px;
}

.footer-margin {
  height: 8px;
}

.header-link-container {
  display: flex;
  align-items: center;
  &>* {
    cursor: pointer;
    margin: 8px;
    color: white;
    font-weight: 400;
    font-size: 32px !important;
  }
}
.header-link-title {
  font-size: 40px;
  margin: 0px;
  background: linear-gradient(0deg, #080808 0.25%, #020202 48.41%, #2B2B2B 50.37%, #C9C9C9 92.63%, #D7D7D7 95.58%, #A6A6A6 96.57%, #4F4F4F 97.55%);
  border-radius: 4px;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 1),
              0 0 3px rgba(0, 0, 0, 5);
  padding-inline: 12px;
}

@media (max-width: 768px) {
  .header-link-title {
    font-size: 20px !important;
  }
}

.icon {
  height: 32px;
  
}

.menubar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  z-index: 9999;
  position: sticky;
  top: 8px;
  left: 0;
  border-radius: 4px;
  margin: 8px;
  backdrop-filter: blur(1px);
  background-color: rgba(121, 221, 209, 0.5);
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 1),
              0 0 3px rgba(0, 0, 0, 5);
}


.menubar-image {
  margin-left: 8px;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
               0 0 5px rgba(255, 255, 255, 0.8),
               0 0 5px rgba(255, 255, 255, 0.8);
}

.menubar-profile-link {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-mobile {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menubar-link-container {
  position: absolute;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-right: auto;
  top: auto;
  right: 0;
}

.tracklist-container {
  width: 100%;
  max-width: 640px;
  display: flex;
  flex-direction: column;
}

.track-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  min-height: 32px;
  padding: 8px;
  margin-block: 4px;
  backdrop-filter: blur(1px);
  background-color: rgba(121, 221, 209, 0.5);
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 1),
              0 0 3px rgba(0, 0, 0, 5);
  border-radius: 4px;
}


.track-name {
  color: var(--text-color);
  font-weight: 500;
  padding-right: 8px;
  margin: 0;
}

.track-duration {
  margin: 0;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.track-audio-player-container {
  display: flex;
  align-items: center;
}

.track-play-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: var(--text-color);
  padding: 8px;
  padding-top: 10px;
  & :hover > * {
    color: var(--secondary-text-color);
  }
}

.track-progress-container {
  width: 100px;
  height: 4px;
  background-color: #333;
  overflow: hidden;
}

.track-progress {
  height: 100%;
  background-color: white;
}