.album-card {
    display: flex;
    flex-direction: column;
    align-items: start;
    cursor: pointer;
    margin: 8px;
    &:hover .album-card-cover {
        filter: brightness(0.7);
      }
  }
  
  .album-card-cover {
    width: 100%;
    border-radius: 8px;
    transition: filter 0.3s ease;
    
  }
  
  .album-card-image {
    max-width: 100%;
    height: auto;
    
  }
  .album-card-title {
    margin-block: 8px;
    max-width: 90%;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .album-card-artist {
    max-width: 80%;
    margin-block: 4px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }