:root {
  --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --text-color: #171717;
  --secondary-text-color: rgba(87, 87, 90, 0.8);
  --link-color: #121212;
  --link-hover-color: #3e3e3e;
  --accent-color: #ff8800;
  --accent-hover-color: #ffaa33;

  --focus-outline-color: #4caeff;
  --selection-background-color: #333333;
  --selection-text-color: #ffffff;
}

body {
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight-normal);
  margin: 0px !important;
  background: url('/src/assets/bg.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

#bg {
  background-size: cover;
  object-fit: cover;
  height: 100%;
  margin: 0 !important;
}

#main {
  margin: 8px;
  min-height: 100vh;
}

h2 {
  font-size: 24px;
  font-weight: var(--font-weight-medium);
}

h3 {
  font-size: 16px;
  font-weight: var(--font-weight-normal);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 20px;
  }
  
  h2 {
    font-size: 16px;
  }
  
  h3 {
    font-size: 12px;
  }
  
}