:root {
  --font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  --line-height: 1.5;
  --font-weight-normal: 300;
  --font-weight-medium: 400;
  --text-color: #f0f0f0;
  --secondary-text-color: #b8b8b8;
}

body {
  color: var(--text-color);
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-weight: var(--font-weight-normal);
  margin: 0px !important;
  background-color: #000000;
  background-size: cover;
  height: 100vh;
}

#bg {
  background-size: cover;
  object-fit: cover;
  height: 100%;
  margin: 0 !important;
}

#main {
  margin: 8px;
  min-height: 100vh;
}

h1 {
  font-size: 36px;
  font-weight: var(--font-weight-medium);
  color: var(--text-color);
}
h2 {
  font-size: 24px;
  font-weight: var(--font-weight-normal);
  color: var(--text-color);
}

h3 {
  font-size: 20px;
  font-weight: var(--font-weight-normal);
  color: var(--secondary-text-color);
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
}

select {
  cursor: pointer;
  display: flex;
  font-family: inherit;
  font-size: 16px;
  height: 32px !important;
  line-height: 1.1;
  font-weight: 400;
  border: none;
  outline: none;
  background-color: transparent;
  text-decoration: underline;
  max-width: 90% !important;
}

select:focus {
  width:auto; 
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  
  h2 {
    font-size: 20px;
  }
  
  h3 {
    font-size: 16px;
  }
  
}