.rating-bar {
  margin: 1px;
  background-color: #bebebe;
  width: 20px;
}

.rating-bar:hover {
  background-color: #ffffff;
}

.rating-bar-data-container {
  display: flex;
  flex-direction: column;
  max-width: 282px;
  text-align: left;
  margin: 0 auto;
}
.rating-bar-data-header {
  display: flex;
  padding: 4px;
}

.rating-bar-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  max-width: 500px;
}

.rating-bar-number {
  padding-top: 8px;
  display: flex;
  align-items: flex-end;
  margin: 0;
  padding-inline: 8px;
}