.rating-bar {
  margin-inline: 1px;
  margin-block: 4px;
  background-color: #bebebe;
  width: 20px;
}

.rating-bar-data-container {
  display: flex;
  flex-direction: column;
  max-width: 282px;
  text-align: left;
  margin: 0 auto;
}
.rating-bar-data-header {
  display: flex;
}

.rating-bar-container {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  max-width: 500px;
  height: 64px;
}

.rating-bar-container:hover > .rating-bar {
  background-color: var(--text-color);
}

.rating-bar-number {
  padding-top: 8px;
  display: flex;
  align-items: flex-end;
  margin: 0px;
  padding-inline: 8px;
}